{% extends 'base.html' %}
{% block content %}

<!--{% block title %} Barcode Generator {% endblock %}-->

<link rel="stylesheet" href="{{ url_for('static', filename='css/barcodeGenerator.css') }}">

<div id="divMain">
    <div id="divUiBox">
        <div class="divUi UiOptions">
            <div class="optionItem">
                <input type="checkbox" for="lblAutoLog" id="cbAutoLog" class="cbOption" checked>
                <label id="lblAutoLog">Auto Log</label>
            </div>
        </div>
        <div class="divUi UiParams">
            <div id="locInfo">
                <div>
                    <select id="school" name="school">
                        <option value="NaN">-- Select a school --</option>
                    </select>
                </div>
            </div>
            <div id="params"></div>
        </div>
        <div id="divUIButtons">
            <button class="UiBoxBtns" id="btnGen" onclick="generate()">Generate</button>
            <button class="UiBoxBtns" id="btnAdd" onclick="addParamHandler()">+</button>
        </div>
    </div>
    <div id="divContent">
        <img id="imgLoad" src="{{ url_for('static', filename='img/loading.gif') }}" class="centered" style="height: 300px; width: 400px; display: none;">
        <iframe id="pdfViewer"></iframe>
    </div>
</div>
<script>
    const metadataStrs = ["{{ schools }}","{{ ipOct }}","{{ locations }}","{{ items }}"];
    const ip = "{{ ip }}";
</script>
<script src="{{ url_for('static', filename='js/barcodeGenerator.js') }}"></script>

{% endblock %}