{% extends 'base.html' %}

{% block content %}
<!--{% block title %} Page {{page}} {% endblock %}-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datavis.css') }}">
    <div id="divMain">
        <div id="tableCont" class="form-container">
            <div id="dataB">
                <table id="dataBT" class="table">
                    <thead id="header-row">
                        <tr>
                            {% for header in headers %}
                                <th class="thHead">{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="tblBody">
                    {% for row in rows %}
                        <tr>
                        {% for cell in row %}
                            <td class="cl"><input class="txt" type="text" style="width: 100%; box-sizing: border-box; border: none;" id="{{ cell }}" value="{{ cell }}" disabled></td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="divUi" class="page-navigation fixed-bottom">
            <div class="d-flex justify-content-center" style="margin-bottom:10px;">
                <button type="button" id="btnLE" class="btn btn-secondary" style="margin-left: 10px;background-color: lightcoral; padding:5px 30px 5px 30px;">Live Edit: OFF</button>
                <button type="button" id="btnReload" class="btn btn-secondary" onclick="setPage(parseInt(page.value))" style="margin-left: 10px; ">Reload</button>
                <button type="button" id="btnReport" class="btn btn-secondary" style="margin-left: 10px; " onclick="window.location.href = `{{ url_for('reportGenerator')}}`;">Report</button>
            </div>
            <div class="d-flex justify-content-center">
                <div>
                    <label for="page" class="form-label">Page</label>
                    <input type="text" id="page" name="page" class="form-control" style="width: 100px; display: inline-block;" value="{{ page }}">
                </div>
                <div>
                    <button type="button" id="btnPrevPage" class="btn btn-secondary" onclick="setPage(parseInt(page.value) - 1)" style="margin-left: 10px;">&lt;</button>
                    <button type="button" id="btnNextPage" class="btn btn-secondary" onclick="setPage(parseInt(page.value) + 1)">&gt;</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/datavis.js') }}"></script>
{% endblock %}