{% extends 'base.html' %}

{% block content %}
<!--{% block title %} Feedback {% endblock %}-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feedback.css') }}">
    <div class="form-container">
        <div id="cont">
            <h1 style="text-align: center;">Report</h1>
            <h4 class="hf" >Title:</h4>
            <input id="title" type="text" class="inpf" style="width: 40%; height: 30px;">
            <h4 class="hf" >Email:</h4>
            <input id="email" type="text" class="inpf" style="width: 45%; height: 30px;">
            <h4 for="input-text" class="hf">Body:</h4>
            <textarea id="input-text" rows="15" cols="50" class="inpf"></textarea>
            <button id="submit-button" class="inpf">Submit</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/purify.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/feedback.js') }}"></script>
{% endblock %}