{% extends 'base.html' %}

{% block content %}
    <!--{% block title %} Scanner {% endblock %}-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobileScanner.css') }}">
    <script src="{{ url_for('static', filename='js/zxing_reader.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base64.js') }}"></script>
    <script async src="{{ url_for('static', filename='js/mobileScanner.js') }}"></script>
    <div id="divMain">
        <body onload="loadVideo()">
                <canvas id="canvas" hidden></canvas>
            </p>
        </body>
	</div>
    
{% endblock %}